# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Python
**/.venv/
**/__pycache__/
**/.pytest_cache/
**/.ruff_cache/

# Environment
**/.env

# Logs
*.log

# Node
**/node_modules/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*

# Kubernetes
*.secret.yaml